.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: auto;
  z-index: 200;
  padding: 40px;
  height: auto;
}
