.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff8000;
  height: 120px;
  width: 200px;
  border-radius: 12px;
  cursor: pointer;
}

.body:hover {
  background-color: #ff8000;
  outline: none;
}

.body > h1 {
  color: #ff8000;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.body:hover > h1 {
  color: white;
}

.body > p {
  color: black;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}

.body:hover > p {
  color: white;
}
