.yellowCircle {
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #d6a217;
  display: flex;
  align-self: flex-start;
  margin-left: -50px;
  margin-top: -50px;
}
.shapeDivider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  transform: scaleX(-1);
}

.shapeDivider svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 400px;
  background-color: #aabebd;
}

.shapeFill {
  fill: #e3f2f1;
}

@media (max-width: 768px) {
  .yellowCircle {
    display: none;
  }
}
